include LICENSE
include requirements.txt
include *.md
include *.py
include *.yaml
include *.yml
recursive-include inseq *.py

exclude Makefile
prune .github
prune docker
prune docs
prune examples
prune tests
