captum==0.6.0 ; python_full_version >= "3.8.1" and python_version < "3.12"
certifi==2022.12.7 ; python_full_version >= "3.8.1" and python_version < "3.12"
charset-normalizer==3.1.0 ; python_full_version >= "3.8.1" and python_version < "3.12"
colorama==0.4.6 ; python_full_version >= "3.8.1" and python_version < "3.12"
commonmark==0.9.1 ; python_full_version >= "3.8.1" and python_version < "3.12"
cycler==0.11.0 ; python_full_version >= "3.8.1" and python_version < "3.12"
filelock==3.9.0 ; python_full_version >= "3.8.1" and python_version < "3.12"
fonttools==4.39.0 ; python_full_version >= "3.8.1" and python_version < "3.12"
huggingface-hub==0.12.1 ; python_full_version >= "3.8.1" and python_version < "3.12"
idna==3.4 ; python_full_version >= "3.8.1" and python_version < "3.12"
kiwisolver==1.4.4 ; python_full_version >= "3.8.1" and python_version < "3.12"
matplotlib==3.5.3 ; python_full_version >= "3.8.1" and python_version < "3.12"
numpy==1.24.2 ; python_full_version >= "3.8.1" and python_version < "3.12"
nvidia-cublas-cu11==11.10.3.66 ; python_full_version >= "3.8.1" and python_version < "3.12" and platform_system == "Linux"
nvidia-cuda-nvrtc-cu11==11.7.99 ; python_full_version >= "3.8.1" and python_version < "3.12" and platform_system == "Linux"
nvidia-cuda-runtime-cu11==11.7.99 ; python_full_version >= "3.8.1" and python_version < "3.12" and platform_system == "Linux"
nvidia-cudnn-cu11==8.5.0.96 ; python_full_version >= "3.8.1" and python_version < "3.12" and platform_system == "Linux"
packaging==23.0 ; python_full_version >= "3.8.1" and python_version < "3.12"
pastel==0.2.1 ; python_full_version >= "3.8.1" and python_version < "3.12"
pillow==9.4.0 ; python_full_version >= "3.8.1" and python_version < "3.12"
poethepoet==0.13.1 ; python_full_version >= "3.8.1" and python_version < "3.12"
protobuf==3.20.2 ; python_full_version >= "3.8.1" and python_version < "3.12"
pygments==2.14.0 ; python_full_version >= "3.8.1" and python_version < "3.12"
pyparsing==3.0.9 ; python_full_version >= "3.8.1" and python_version < "3.12"
python-dateutil==2.8.2 ; python_full_version >= "3.8.1" and python_version < "3.12"
pyyaml==6.0 ; python_full_version >= "3.8.1" and python_version < "3.12"
regex==2022.10.31 ; python_full_version >= "3.8.1" and python_version < "3.12"
requests==2.28.2 ; python_full_version >= "3.8.1" and python_version < "3.12"
rich==10.16.2 ; python_full_version >= "3.8.1" and python_version < "3.12"
scipy==1.10.1 ; python_full_version >= "3.8.1" and python_version < "3.12"
sentencepiece==0.1.97 ; python_full_version >= "3.8.1" and python_version < "3.12"
setuptools==67.5.1 ; python_full_version >= "3.8.1" and python_version < "3.12" and platform_system == "Linux"
six==1.16.0 ; python_full_version >= "3.8.1" and python_version < "3.12"
tokenizers==0.13.2 ; python_full_version >= "3.8.1" and python_version < "3.12"
tomli==2.0.1 ; python_full_version >= "3.8.1" and python_version < "3.12"
torch==1.13.1 ; python_full_version >= "3.8.1" and python_version < "3.12"
torchtyping==0.1.4 ; python_full_version >= "3.8.1" and python_version < "3.12"
tqdm==4.65.0 ; python_full_version >= "3.8.1" and python_version < "3.12"
transformers[sentencepiece,tokenizers,torch]==4.26.1 ; python_full_version >= "3.8.1" and python_version < "3.12"
typeguard==2.13.3 ; python_full_version >= "3.8.1" and python_version < "3.12"
typing-extensions==4.5.0 ; python_full_version >= "3.8.1" and python_version < "3.12"
urllib3==1.26.14 ; python_full_version >= "3.8.1" and python_version < "3.12"
wheel==0.38.4 ; python_full_version >= "3.8.1" and python_version < "3.12" and platform_system == "Linux"
