captum==0.5.0 ; python_version >= "3.8" and python_version < "3.12"
certifi==2022.9.24 ; python_version >= "3.8" and python_version < "3.12"
charset-normalizer==2.1.1 ; python_version >= "3.8" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.12"
commonmark==0.9.1 ; python_version >= "3.8" and python_version < "3.12"
contourpy==1.0.6 ; python_version >= "3.8" and python_version < "3.12"
cycler==0.11.0 ; python_version >= "3.8" and python_version < "3.12"
filelock==3.8.0 ; python_version >= "3.8" and python_version < "3.12"
fonttools==4.38.0 ; python_version >= "3.8" and python_version < "3.12"
huggingface-hub==0.11.1 ; python_version >= "3.8" and python_version < "3.12"
idna==3.4 ; python_version >= "3.8" and python_version < "3.12"
json-tricks==3.16.1 ; python_version >= "3.8" and python_version < "3.12"
kiwisolver==1.4.4 ; python_version >= "3.8" and python_version < "3.12"
matplotlib==3.6.2 ; python_version >= "3.8" and python_version < "3.12"
numpy==1.23.5 ; python_version >= "3.8" and python_version < "3.12"
nvidia-cublas-cu11==11.10.3.66 ; python_version >= "3.8" and python_version < "3.12"
nvidia-cuda-nvrtc-cu11==11.7.99 ; python_version >= "3.8" and python_version < "3.12"
nvidia-cuda-runtime-cu11==11.7.99 ; python_version >= "3.8" and python_version < "3.12"
nvidia-cudnn-cu11==8.5.0.96 ; python_version >= "3.8" and python_version < "3.12"
packaging==21.3 ; python_version >= "3.8" and python_version < "3.12"
pastel==0.2.1 ; python_version >= "3.8" and python_version < "3.12"
pillow==9.3.0 ; python_version >= "3.8" and python_version < "3.12"
poethepoet==0.13.1 ; python_version >= "3.8" and python_version < "3.12"
protobuf==3.20.2 ; python_version >= "3.8" and python_version < "3.12"
pygments==2.13.0 ; python_version >= "3.8" and python_version < "3.12"
pyparsing==3.0.9 ; python_version >= "3.8" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "3.12"
pyyaml==6.0 ; python_version >= "3.8" and python_version < "3.12"
regex==2022.10.31 ; python_version >= "3.8" and python_version < "3.12"
requests==2.28.1 ; python_version >= "3.8" and python_version < "3.12"
rich==10.16.2 ; python_version >= "3.8" and python_version < "3.12"
scipy==1.9.3 ; python_version >= "3.8" and python_version < "3.12"
sentencepiece==0.1.97 ; python_version >= "3.8" and python_version < "3.12"
setuptools-scm==7.0.5 ; python_version >= "3.8" and python_version < "3.12"
setuptools==65.6.3 ; python_version >= "3.8" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.12"
tokenizers==0.13.2 ; python_version >= "3.8" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.12"
torch==1.13.0 ; python_version >= "3.8" and python_version < "3.12"
torchtyping==0.1.4 ; python_version >= "3.8" and python_version < "3.12"
tqdm==4.64.1 ; python_version >= "3.8" and python_version < "3.12"
transformers[sentencepiece,tokenizers,torch]==4.24.0 ; python_version >= "3.8" and python_version < "3.12"
typeguard==2.13.3 ; python_version >= "3.8" and python_version < "3.12"
typing-extensions==4.4.0 ; python_version >= "3.8" and python_version < "3.12"
urllib3==1.26.13 ; python_version >= "3.8" and python_version < "3.12"
wheel==0.38.4 ; python_version >= "3.8" and python_version < "3.12"
