h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
a {
  font-family: HKGroteskPro, serif !important;
}

h1,
h2,
h3 {
  padding-top: 80px;
  margin-top: -80px;
}

body {
  background-color: #efefef;
  color: #2b354f;
}

a {
  cursor: pointer;
}

@font-face {
  font-family: HKGroteskPro;
  font-weight: 300;
  src: url(hk-grotesk-pro/HKGroteskPro-Regular.woff2) format("woff2"),
    url(hk-grotesk-pro/HKGroteskPro-Regular.woff) format("woff");
}

@font-face {
  font-family: HKGroteskPro;
  font-weight: 500;
  src: url(hk-grotesk-pro/HKGroteskPro-Medium.woff2) format("woff2"),
    url(hk-grotesk-pro/HKGroteskPro-Medium.woff) format("woff");
}

@font-face {
  font-family: HKGroteskPro;
  font-weight: 600;
  src: url(hk-grotesk-pro/HKGroteskPro-SemiBold.woff2) format("woff2"),
    url(hk-grotesk-pro/HKGroteskPro-SemiBold.woff) format("woff");
}

@font-face {
  font-family: HKGroteskPro;
  font-weight: 700;
  src: url(hk-grotesk-pro/HKGroteskPro-Bold.woff2) format("woff2"),
    url(hk-grotesk-pro/HKGroteskPro-Bold.woff) format("woff");
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

.wy-side-nav-search > a,
.wy-side-nav-search .wy-dropdown > a {
  display: none !important;
}

.wy-nav-content {
  width: auto !important;
  max-width: max-content !important;
}

.wy-body-for-nav {
  background-color: #efefef;
  padding-top: 0px;
}

.section {
  max-width: 800px;
}

.widetable {
  min-width: 1000px !important;
}

.wy-side-scroll {
  background: #efefef;
}
.wy-nav-top {
  background: #efefef;
  color: rgba(0, 0, 0, 0.65) !important;
  position: fixed;
  top: 16px;
  left: 15px;
  font-size: 13px;
  z-index: 10;
}

.wy-nav-top a {
  display: none;
}

.wy-nav-top i {
  font-size: 24px;
}

.wy-nav-content {
  color: #222222;
}

.wy-side-nav-search {
  background: #efefef !important;
  padding-top: 30px;
}

.wy-side-nav-search > div.version {
  color: black;
}

.wy-menu-vertical a {
  color: #222222;
}

.wy-menu-vertical a:hover {
  color: #666666;
  background: #00bfa5;
}

.wy-nav-side {
  background: #efefef;
  width: 340px;
  padding-left: 20px;
  padding-right: 10px;
}

/*HEADER STYLES*/

.inseq_header {
  background-color: #efefef;
  position: fixed;
  height: 64px;
  width: 100%;
  top: 0;
  text-align: center;
  display: none;
  z-index: 5;
}

#header-logo {
  overflow: hidden;
  float: center;
  line-height: 64px;
  text-decoration: none;
  height: auto;
}

#header-logo img {
  display: inline;
  vertical-align: middle;
  margin-right: 16px;
  max-width: 200px;
  width: 100%;
  margin-bottom: 0;
}

.wy-nav-content-wrap {
  margin-left: 340px;
}


@media only screen and (max-width: 768px) {
  .wy-nav-side {
    width: 250px;
  }

  .wy-nav-side.shift {
    margin-top: 75px;
    max-width: 340px;
  }

  .wy-nav-content-wrap.shift {
    left: 340px;
    top: 75px;
  }

  .wy-nav-content-wrap {
    z-index: 10;
  }

  .inseq_header {
    display: inline;
  }

}

.rst-content .sidebar {
  margin-top: 80px !important;
}

/*** Make the API Reference breadcrumbs look kind of normal ***/
ul.wy-breadcrumbs li code span.pre{
  font-size: 16px;
  font-family: HKGroteskPro, serif;
  font-weight: 400;
  color: rgb(155, 89, 182);
}

/*** Code style ***/

.highlight .c1, .highlight .sd{
  color: #999
}

.highlight .nn, .highlight .k, .highlight .s1, .highlight .nb, .highlight .bp, .highlight .kc {
  color: #FB8D68;
}

.highlight .kn, .highlight .nv, .highlight .s2, .highlight .ow {
  color: #6670FF;
}

.highlight .gp {
  color: #FB8D68;
}

/*** Huggingface-inspired Style ***/

/* Copy button */

a.copybtn {
  margin: 3px;
}

/* The div that holds the logo */
.HuggingFaceDiv {
  width: 100%
}

/* The section headers in the toc tree */
.wy-menu-vertical p.caption{
  line-height: 40px;
  padding-bottom: 40px;
}

/* The selected items in the toc tree */
.wy-menu-vertical li.current{
  background-color: #fcfcfc;
}

/* When a list item that does belong to the selected block from the toc tree is hovered */
.wy-menu-vertical li.current a:hover{
  background-color: #9d9eaf;
  color: #000000;
}

/* When a list item that does NOT belong to the selected block from the toc tree is hovered. */
.wy-menu-vertical li a:hover{
  background-color: #9d9eaf;
  color: #000000;
}

/* The color inside the selected toc tree block */
.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.toctree-l4 a {
  color: black;
  text-align: right;
}

/* Content bars */
.rst-content dl:not(.docutils) dt {
  background-color: rgba(251, 141, 104, 0.1);
  border-right: solid 2px #FB8D68;
  border-left: solid 2px #FB8D68;
  color: #FB8D68;
  border-top: none;
  font-style: normal !important;
  padding-right: 0.8rem;
}

/* Expand button */
.wy-menu-vertical li.toctree-l2 span.toctree-expand,
.wy-menu-vertical li.on a span.toctree-expand, .wy-menu-vertical li.current>a span.toctree-expand,
.wy-menu-vertical li.toctree-l3 span.toctree-expand{
  color: black;
}

/* Max window size */
.wy-nav-content{
  max-width: 1200px;
}


/* Source spans */
.rst-content .viewcode-link, .rst-content .viewcode-back{
  font-size: 110%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* It would be better for table to be visible without horizontal scrolling */
.wy-table-responsive table td, .wy-table-responsive table th{
  white-space: normal;
}

.footer {
  margin-top: 20px;
}

.footer__Social {
  display: flex;
  flex-direction: row;
}

.footer__CustomImage {
  margin: 2px 5px 0 0;
}

/* class and method names in doc */
.rst-content dl:not(.docutils) tt.descname, .rst-content dl:not(.docutils) tt.descclassname, .rst-content dl:not(.docutils) tt.descname, .rst-content dl:not(.docutils) code.descname, .rst-content dl:not(.docutils) tt.descclassname, .rst-content dl:not(.docutils) code.descclassname{
  font-family: Calibre, sans-serif;
  font-size: 20px !important;
}

/* class name in doc*/
.rst-content dl:not(.docutils) tt.descname, .rst-content dl:not(.docutils) tt.descname, .rst-content dl:not(.docutils) code.descname{
  margin-right: 10px;
  font-family: Calibre-Medium, sans-serif;
}

/* Method and class parameters */
.sig-param{
  line-height: 23px;
}

/* Class introduction "class" string at beginning */
.rst-content dl:not(.docutils) .property{
  font-size: 18px;
  color: black;
}
